# SCA through Dino LFP data

In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('/Users/ldliao/Research/Projects/spectralCA/')
sys.path.append('/Users/ldliao/Research/Projects/spectralCA/notebooks_visualization/')
# sys.path.append('/Users/Lauren/Voytek/spectralCV')
# sys.path.append('/Users/rdgao/Documents/code/research/spectralCV')
# sys.path.append('/Users/rdgao/Documents/code/research/neurodsp/')
# sys.path.append('/Users/rdgao/Documents/code/research/fooof/')

In [35]:
%matplotlib inline

# imports
from sca_funcs import access_nt as asc
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import scipy.io as io
import pandas as pd

import neurodsp as ndsp
# from fooof import FOOOFGroup
from sca_funcs import sca

In [36]:
data_path = "/Users/ldliao/Research/Data/Dino/Dino_072114_mPFC_ephys.mat"
dino = io.loadmat(data_path, squeeze_me=True)

In [37]:
info_path = "/Users/ldliao/Research/Data/Dino/Dino_072114_mPFC_wakesleep.csv"
info = pd.read_csv(info_path,index_col='Unnamed: 0')

In [163]:
info

                Label  Start   Inter    End
0          REMEpisode   3752     NaN   3785
1          REMEpisode   4079     NaN   4130
2          REMEpisode   4822     NaN   4992
3                 REM   3752     NaN   3785
4                 REM   4079     NaN   4130
5                 REM   4822     NaN   4897
6                 REM   4903     NaN   4929
7                 REM   4938     NaN   4992
8          SWSEpisode   3362     NaN   3751
9          SWSEpisode   3903     NaN   4069
10         SWSEpisode   4188     NaN   4821
11          SWSPacket   3428     NaN   3751
12          SWSPacket   3903     NaN   4069
13          SWSPacket   4224     NaN   4807
14                 MA   3378     NaN   3403
15                 MA   3420     NaN   3427
16                 MA   4198     NaN   4223
17                 MA   4808     NaN   4814
18                 MA   5257     NaN   5267
19                 MA   5321     NaN   5357
20                 MA   5367     NaN   5376
21                 MA   5470     NaN   5509
22                 MA   5851     NaN   5883
23                 MA   6529     NaN   6549
24                 MA   6627     NaN   6659
25                 MA   6800     NaN   6805
26                 MA   7144     NaN   7157
27                 MA   7184     NaN   7191
28                 MA   7281     NaN   7286
29                 MA   8020     NaN   8042
..                ...    ...     ...    ...
148  WakeInterruption  24972     NaN  25041
149  WakeInterruption  25074     NaN  25096
150  WakeInterruption  25111     NaN  25126
151  WakeInterruption  25290     NaN  25301
152  WakeInterruption  25418     NaN  25423
153  WakeInterruption  25504     NaN  25508
154  WakeInterruption  27846     NaN  27849
155  WakeInterruption  27867     NaN  27882
156  WakeInterruption  28306     NaN  28318
157  WakeInterruption  28325     NaN  28357
158  WakeInterruption  28665     NaN  28671
159  WakeInterruption  28691     NaN  28711
160  WakeInterruption  28777     NaN  28834
161  WakeInterruption  29146     NaN  29161
162  WakeInterruption  29313     NaN  29317
163  WakeInterruption  29388     NaN  29399
164  WakeInterruption  30804     NaN  30808
165  WakeInterruption  31784     NaN  31793
166  WakeInterruption  31815     NaN  31831
167  WakeInterruption  31881     NaN  31928
168  WakeInterruption  31987     NaN  31990
169  WakeInterruption  32009     NaN  32032
170  WakeInterruption  32469     NaN  32485
171  WakeInterruption  33510     NaN  33520
172  WakeInterruption  33526     NaN  33530
173  WakeInterruption  33720     NaN  33741
174  WakeInterruption  33806     NaN  33819
175              Wake      5     NaN   3361
176             Sleep   3361     NaN   4992
177         WakeSleep      5  3361.0   4992

[178 rows x 4 columns]

In [55]:
set(info['Label'].values)

{'MA',
 'REM',
 'REMEpisode',
 'SWSEpisode',
 'SWSPacket',
 'Sleep',
 'Wake',
 'WakeInterruption',
 'WakeSleep'}

In [139]:
info;

In [38]:
info[-3:]

         Label  Start   Inter   End
175       Wake      5     NaN  3361
176      Sleep   3361     NaN  4992
177  WakeSleep      5  3361.0  4992

In [154]:
label = 'WakeSleep'

In [155]:
duration = list(zip(info[info['Label'] == label]['Start'].values, info[info['Label'] == label]['End'].values))

In [156]:
fs = 1250

In [157]:
chan_num = 4

In [158]:
# sleep
# data = dino['lfp'][:,1250*3361:1250*4992]
# start, end = wake_start, wake_end
# start_end = info[info['Label'] == label]['Start'].values, info[info['Label'] == label]['End'].values

# wake
data = []
for dur in duration:
    start, end = dur
    data.append(dino['lfp'][:,start*fs:end*fs])

In [159]:
data = np.column_stack(data)

In [160]:
data.shape

(4, 6233750)

In [161]:
fs = 1250
analysis_param = {'nperseg': 1250,
                 'noverlap': 0,
                 'spg_outlierpct': 2.,
                 'max_freq':200}

In [162]:
# initialize object with data and parameters
dino_sca = sca.SCA(analysis_param)
dino_sca.populate_ts_data(data, fs)

# compute all spectral attributes
dino_sca.compute_all_spectral()

# compute KS-test fit against null exponential hypothesis
dino_sca.compute_KS_expfit() # this takes a few minutes

# save out
dino_sca.save_spec_vars('../results/dino/'+label.lower(), save_spg=True)